body {
  
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-right: 900px;
  }
  
  #title {
    color: #FF6600;
    font-size: 58px;
    
    font-weight: bold;
  }
  
  #first {
    font-size: 23px;
  }
  
  #navbarNav {
    font-size: 20px;
  }
  
  #premium {
    border: 3px solid #fffffe;
    border-radius: 20px;
    background-color: white;
    color: #FF6600;
  }
  #img-principal
  {
    margin-top: 20px;
   
    
  }
    
  
  #premium:hover {
    background-color: #f78c19;
    border: solid white;
    color: white;
  }
  
  .naivar nav {
    background-color: #FF6600;
  }
  
  #button-main {
    align-items: center;
    background-color: #FF6600;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    -moz-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #button-main {
    background-color: #FF6600;
    color: white;
  }
  
  #button-main:hover {
    background-color: rgb(255, 255, 255);
    color: #FF6600;
    border: 1px solid black;
  }
  
  .footer {
    position: relative;
    margin-top: 50px; /* Ajusta el valor según sea necesario para separar el contenido anterior */
    background-color: #FF6600;
    padding: 20px;
  }
  
  .footer {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 150px;
  }
  
  #parrafo {
    color: #FF6600;
    font-weight: bold;
    font-size: 30px;
  }
  
  .footer-second {
    
    margin-top: 20px;
    
  }
  
  .bottom {
    color: white;
    margin: 2px;
    font-size: 20px;
    
  }
  
  .images {
    margin-bottom: 50px;
  }
  .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(100%);
    }
  
    .carousel-item img {
      margin: 0 auto;
    }
  